<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.2/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"></script>

        <title>返回页 - 基于对等原则的流量交换系统</title>

        <meta http-equiv="refresh" content="5;url={{ backurl }}">
    </head>
    <body>
        <div class="container">
        <h1>我们将送您返回原页面</h1>
        <p>您访问的网页采用对等的流量交换原则，由于当前链接双方的流量不对等，我们需要将您送回原页面。您不需要采取任何行动，网页脚本将在 5 秒内自动将您送回。</p>
        </div>
    </body>
</html>